<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pedia.dao.EntryMapper">
  <resultMap id="BaseResultMap" type="com.pedia.model.Entry">
    <id column="eid" jdbcType="INTEGER" property="eid" />
    <result column="publisher" jdbcType="VARCHAR" property="publisher" />
    <result column="entryName" jdbcType="VARCHAR" property="entryname" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="praiseTimes" jdbcType="INTEGER" property="praisetimes" />
    <result column="badReviewTimes" jdbcType="INTEGER" property="badreviewtimes" />
    <result column="reportTimes" jdbcType="INTEGER" property="reporttimes" />
    <result column="publishTime" jdbcType="TIMESTAMP" property="publishtime" />
  </resultMap>
  <sql id="Base_Column_List">
    eid, publisher, entryName, status, praiseTimes, badReviewTimes, reportTimes, publishTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from Entry
    where eid = #{eid,jdbcType=INTEGER}
  </select>
  <select id="selectByEntryName" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from Entry
  	where entryName = #{entryName,jdbcType=VARCHAR}
  </select>
    <select id="selectByAllEntryName" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from Entry
  	where entryName = #{entryName,jdbcType=VARCHAR}
  </select>
      <select id="selectByInfo" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from Entry
  	where entryName  REGEXP #{entryName,jdbcType=VARCHAR}
  </select>
  <select id="selectByStatus" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />
  	from Entry
  	where status = #{status,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from Entry
    where eid = #{eid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pedia.model.Entry"  useGeneratedKeys="true" keyProperty="eid">
    insert into Entry (eid, publisher, entryName, 
      status, praiseTimes, badReviewTimes, 
      reportTimes, publishTime)
    values (#{eid,jdbcType=INTEGER}, #{publisher,jdbcType=VARCHAR}, #{entryname,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{praisetimes,jdbcType=INTEGER}, #{badreviewtimes,jdbcType=INTEGER}, 
      #{reporttimes,jdbcType=INTEGER}, #{publishtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pedia.model.Entry"  useGeneratedKeys="true" keyProperty="eid">
    insert into Entry
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="eid != null">
        eid,
      </if>
      <if test="publisher != null">
        publisher,
      </if>
      <if test="entryname != null">
        entryName,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="praisetimes != null">
        praiseTimes,
      </if>
      <if test="badreviewtimes != null">
        badReviewTimes,
      </if>
      <if test="reporttimes != null">
        reportTimes,
      </if>
      <if test="publishtime != null">
        publishTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="eid != null">
        #{eid,jdbcType=INTEGER},
      </if>
      <if test="publisher != null">
        #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="entryname != null">
        #{entryname,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="praisetimes != null">
        #{praisetimes,jdbcType=INTEGER},
      </if>
      <if test="badreviewtimes != null">
        #{badreviewtimes,jdbcType=INTEGER},
      </if>
      <if test="reporttimes != null">
        #{reporttimes,jdbcType=INTEGER},
      </if>
      <if test="publishtime != null">
        #{publishtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pedia.model.Entry">
    update Entry
    <set>
      <if test="publisher != null">
        publisher = #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="entryname != null">
        entryName = #{entryname,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="praisetimes != null">
        praiseTimes = #{praisetimes,jdbcType=INTEGER},
      </if>
      <if test="badreviewtimes != null">
        badReviewTimes = #{badreviewtimes,jdbcType=INTEGER},
      </if>
      <if test="reporttimes != null">
        reportTimes = #{reporttimes,jdbcType=INTEGER},
      </if>
      <if test="publishtime != null">
        publishTime = #{publishtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where eid = #{eid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pedia.model.Entry">
    update Entry
    set publisher = #{publisher,jdbcType=VARCHAR},
      entryName = #{entryname,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      praiseTimes = #{praisetimes,jdbcType=INTEGER},
      badReviewTimes = #{badreviewtimes,jdbcType=INTEGER},
      reportTimes = #{reporttimes,jdbcType=INTEGER},
      publishTime = #{publishtime,jdbcType=TIMESTAMP}
    where eid = #{eid,jdbcType=INTEGER}
  </update>
  <update id="addOneByPrimaryKey">
  	update Entry
  	set ${field} = ${field} + 1
  	where eid = #{eid,jdbcType=INTEGER}
  </update>
</mapper>